#leftsection {
    width: 15%;
    display: inline-block;
    padding-left: 10px;
    font-size: 30px;
}

#rightsection {
    width: 80%;
    display: inline-block;
    padding-right: 10px;
    text-align: end;
    text-decoration: none;
    color: solid black;
}

.button {
    padding: 30px;
}

#displayimg {
    float: right;
    width: 40%;
    padding-right: 30px;
}

h1 {
    padding-left: 30px;
}
#intro {
    padding-left: 30px;
    width: 600px;
}

.fruitsdetail {
    padding-left: 30px;
    width: 60%;
}

.fruitsimg {
    padding-right: 30px;
}

.sdiv {
    width: 300px;
    height: 300px;
    gap: 15px;
    padding: 30px;
    margin: 10px;
}

.img {
    width: 75px;
    height: 75px;
}

.fname {
    color: orangered;
}

#odish {
    float: right;
    width: 200px;
}

.dr {
    border: none;
    border-bottom: 2px solid black;
    margin: 5px;
    width: 700px;
    height: 40px;
}

#cdetail {
    padding-left: 30px;
    display: flex;
    justify-content: left;
    gap: 175px;
}

.cdetail {
    width: 100px;
    text-align: left;
}

.ph {
    font-size: xx-large;
}

.pp {
    font-size: larger;
}